// TEXT COLOR
$text-color-100: #eaeaea;
$text-color-200: #cccccc;
$text-color-300: #999999;
$text-color-400: #666666;
$text-color-500: #333333;
$text-color-600: #000000;

// PRIMARY COLOR
$primary-color-100: #facc14;
$primary-color-200: #ffefd1;
$primary-color-300: #cca60e;

// SECONDARY COLOR
$secondary-color-100: #c6c9fe;
$secondary-color-200: #979efd;
$secondary-color-300: #6472fc;
$secondary-color-orange: #ea5313;
$secondary-color-purple: #a451f7;
