// TEXT SIZE
$text-size-100: 12px;
$text-size-200: 14px;
$text-size-300: 18px;
$text-size-400: 24px;
$text-size-500: 32px;
$text-size-600: 40px;
$text-size-700: 48px;
$text-size-800: 56px;
$text-size-900: 64px;

// TITLE SIZE
$text-title-100: 22px;
$text-title-200: 26px;
$text-title-300: 30px;
$text-title-400: 34px;
$text-title-500: 38px;
$text-title-600: 42px;
$text-title-700: 46px;
$text-title-800: 50px;
$text-title-900: 54px;
