@import url('https://cdn.jsdelivr.net/gh/orioncactus/Pretendard/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
}

@font-face {
  font-family: 'SF Hambacksnow';
  src: url('/public/fonts/SF_Hambacksnow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}